Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
gtk-doc.make
gypsy.pc
install-sh
libtool
ltmain.sh
missing
stamp-h1

.deps
.libs
*.la
*.lo
*.o
*-bindings.h
*-glue.h
*-marshal.[ch]

docs/reference/gypsy-decl-list.txt
docs/reference/gypsy-decl.txt
docs/reference/gypsy-overrides.txt
docs/reference/html*
docs/reference/sgml*
docs/reference/tmpl*
docs/reference/version.xml
docs/reference/xml*
docs/reference/gypsy-undeclared.txt
docs/reference/gypsy-undocumented.txt
docs/reference/gypsy-unused.txt
docs/reference/gypsy.args
docs/reference/gypsy.hierarchy
docs/reference/gypsy.interfaces
docs/reference/gypsy.prerequisites
docs/reference/gypsy.signals
docs/reference/ref-gypsy-client.xml
docs/reference/ref-gypsy-server.xml
docs/reference/scan-build.stamp
docs/reference/*.bak
examples/simple-gps-dbus
examples/simple-gps-gypsy
examples/simple-gps-satellites
interfaces/gypsy-client.xml
interfaces/gypsy-server.xml
src/gypsy-daemon
src/gypsy-marshal-internal.c
src/gypsy-marshal-internal.h
org.freedesktop.Gypsy.service
Gypsy.conf
